@model IEnumerable<Toy>
@using Microsoft.AspNetCore
@using Microsoft.AspNetCore.Identity
@using ToyStoreWebAppMVC.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Hero section-->
<div class="hero section">
    <img class="img-fluid" src="~/images/HOMEPAGE-BANNER.jpg" />
</div>
<hr class="section-divider" />
<!-- Toys section-->

<div class="toys section">
    <h3 class="section-header">Toys</h3>

    @{
        const int itemsPerRow = 4;
        var count = Model.Count() / itemsPerRow;
        var toyList = new List<Toy>();

    }
    <partial name="_CreateButtonPartial" model="0" />
    @for (int i = 0; i <= count; i++)
    {
        toyList = Model.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
        <div class="row mt-3">
            @foreach (Toy toy in toyList)
            {
                <div class="col-md-3">
                    <a href="#" class="text-dark" style="text-decoration:none;">
                        <div class="card border-info">
                            <img class="card-img-top" src="~/@toy.ThumbnailImagePath" alt="@toy.Name" style="padding:1rem;">
                            <div class="card-body">
                                <hr />
                                <h5 class="card-title">@toy.Name</h5>
                                <p class="card-text">@toy.Description</p>
                                <p class="card-price">@toy.Cost <b>KM</b></p>
                            </div>
                            <div class="card-footer text-muted text-center">
                                <partial name="_RUDButtonsPartial" model="@toy.Id" />
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }

</div>