@model IEnumerable<Toy>
@using Microsoft.AspNetCore
@using Microsoft.AspNetCore.Identity
@using ToyStoreWebAppMVC.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (Model.Count() > 0)
{
    @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
    {
        <div class="row mt-3">
            @foreach (Toy toy in Model)
            {
                <div class="col-md-3">
                    <a href="#" class="text-dark" style="text-decoration:none;">
                        <div class="card border-info">
                            <img class="card-img-top" src="~/@toy.ThumbnailImagePath" alt="@toy.Name" style="padding:1rem;">
                            <div class="card-body">
                                <hr/>
                                <h5 class="card-title">@toy.Name</h5>
                                <p class="card-text">@toy.Description</p>
                            </div>
                            <div class="card-footer text-muted text-center">
                               <partial name="_RUDButtonsPartial" model="@toy.Id" />
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row mt-3">
            @foreach (Toy toy in Model)
            {
                <div class="col-md-3">
                    <a href="#" class="text-dark" style="text-decoration:none;">
                        <div class="card border-info">
                            <img class="card-img-top" src="~/@toy.ThumbnailImagePath" alt="@toy.Name" style="padding:1rem;">
                            <div class="card-body">
                                  <hr/>
                                <h5 class="card-title">@toy.Name</h5>
                                <p class="card-text">@toy.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
}
