@model ToyStoreWebAppMVC.Models.TransactionModel

@{
    ViewData["Title"] = "Index";
}

<h1>Korisnicke transakcije</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                TransactionDate
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserTransactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td class="table-success">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td style="text-align: center;">
                    <a asp-area="Admin" asp-controller="UserOrder" asp-action="Details" asp-route-id="@item.OrderId" class="text-dark mr-2"><i class="fas fa-table"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="section-divider" />
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-info">Back To Home</a>
</div>
